{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация | itcase</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main/reg.css' %}">
</head>
<body style="background: #f0f2f5;">

<div class="register-layout">

  <!-- Левая часть -->
  <div class="register-left">
    <h1 class="big-logo">itcase</h1>
    <p class="slogan">itcase помогает вам найти работу и начать свой бизнес</p>
  </div>

  <!-- Правая часть -->
  <div class="register-right">
    <div class="form-card">
      <h2>Создать аккаунт</h2>
      <p class="sub">Это быстро и легко</p>

      {% if error %}
        <p style="color: red;">{{ error|safe }}</p>
      {% endif %}


      <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password1" placeholder="Пароль" required>
        <input type="password" name="password2" placeholder="Повторите пароль" required>
        <button type="submit">Зарегистрироваться</button>
      </form>

      <div class="small-link2">
        Уже есть аккаунт? <a class="login-btn" href="{% url 'login' %}">Войти</a>
      </div>
    </div>
  </div>

</div>

</body>
</html>
